@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purplecolor: #5956e9;
}

.custom-gradient {
  background: linear-gradient(133deg,rgb(254 74 75 / 6%) 5%,rgb(253 157 166 / 3%) 35%,rgba(106,0,206,.15))
}
